<div class="card-body" aling="left"> 
    <div class="d-flex align-items-center"> 
        <% current_user.can_follow.each do |user| %>
            <% if current_user.id != user.id %>
                <%= link_to follow_path(user.id), method: :post do%>
                    <div class="card text-white bg-primary rounded-3 border" style="max-width: 60px;">
                        <%= image_tag user.user_photo %>
                    </div>
                <% end %>  
            <% end %>
        <% end %>
    </div>
</div>
